<div ng-show="vm.columnsDetails && vm.data.length > 0 && !isUserTyping && vm.query.length > 0">
    <input id="includeVerbose" type="checkbox" ng-model="vm.enableDetails">
    <label for="includeVerbose">Show Details</label>
</div>

<div class="search-input" align="center">
    <input class="field-display ui-autocomplete-input" id="inputNode" type="text" ng-model="vm.query"
           ng-change="vm.timeoutRefresh()">
    <button id="searchButton" name="searchButton" ng-click="vm.getData()">Search</button>
</div>

<div align="center">
    <span ng-show="vm.notificationEmptyQuery()">Type query to search data</span>
</div>
<div align="center">
    <span ng-show="vm.notificationNoEntriesFound()">No entries found for <b>{{vm.query}}</b></span>
</div>

<div align="center" ng-show="vm.notificationLoading()">
    <img ng-src="{{vm.logo}}" width="64" height="64">
    <br>
    <span><b>Loading...</b></span>
</div>

<!--TABLE TYPE-->
<table ng-show="vm.showTable()">
    <thead>
    <tr>
        <th ng-repeat="columnMain in vm.columnsMain">
            {{columnMain.label}}
        </th>
        <th ng-show="vm.enableDetails" ng-repeat="columnDetails in vm.columnsDetails">
            {{columnDetails.label}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="data in vm.data.slice(vm.sliceFrom(),vm.sliceTo()) | orderBy: 'retired'">
        <th ng-repeat="columnMain in vm.columnsMain">
            <a ng-href="#/{{vm.redirectionParam}}/{{data.uuid}}" ng-show="data.retired">
                <del>{{data[columnMain.property]}}</del>
            </a>
            <a ng-href="#/{{vm.redirectionParam}}/{{data.uuid}}" ng-show="!data.retired">
                {{data[columnMain.property]}}
            </a>
        </th>
        <th ng-show="vm.enableDetails" ng-repeat="columnDetails in vm.columnsDetails">
            <span ng-show="data.retired"><del>{{data[columnDetails.property]}}</del></span>
            <span ng-show="!data.retired">{{data[columnDetails.property]}}</span>
        </th>
    </tr>
    </tbody>
</table>

<!--LIST TYPE-->
<ul ng-show="vm.showList()">
    <li ng-repeat="data in vm.data.slice(vm.sliceFrom(),vm.sliceTo()) | orderBy:'retired'">
        <div valign="top">
            <a ng-href="#/{{vm.redirectionParam}}/{{data.uuid}}">
                <div ng-repeat="columnMain in vm.columnsMain">
                    <strong>
                        <span ng-show="data.retired"><del>{{data[columnMain.property]}}</del></span>
                        <span ng-show="!data.retired">{{data[columnMain.property]}}</span>
                    </strong>
                </div>
                <div ng-repeat="columnDetails in vm.columnsDetails">
                    <small ng-show="vm.enableDetails">{{data[columnDetails.property]}}</small>
                </div>
            </a>
        </div>
    </li>
</ul>

<br>
<div ng-show="vm.isButtonPanelVisible() && vm.isWholeNavigationPanelVisible()" align="center">
    <button ng-disabled="!vm.isFirstPagePossible()" ng-click="vm.firstPage()">First Page</button>
    <button ng-disabled="!vm.isPrevPagePossible()" ng-click="vm.prevPage()">Previous Page</button>
    <button ng-disabled="!vm.isNextPagePossible()" ng-click="vm.nextPage()">Next Page</button>
    <button ng-disabled="!vm.isLastPagePossible()" ng-click="vm.lastPage()">Last Page</button>

    <div align="center">
        Page <b>{{vm.page}}/{{vm.totalPages()}}</b>
        <br>
        Found <b>{{vm.data.length}}</b> entries
        <br>
        Displaying <b>{{vm.entriesPerPage}}</b> entries per page
    </div>

    <div align="left">
        Show
        <select size="1" ng-model="vm.entriesPerPage" ng-click="vm.firstPage()">
            <option ng-click="vm.firstPage()" selected="selected" value="5">5</option>
            <option ng-click="vm.firstPage()" value="10">10</option>
            <option ng-click="vm.firstPage()" value="25">25</option>
            <option ng-click="vm.firstPage()" value="50">50</option>
        </select>
        Entries
    </div>

</div>
<div align="center" ng-show="vm.isSecondLoaderNotificationVisible()">
    <b>Loading more pages...</b>
</div>